*{
    font-family: 'Noto sans', sans-serif;
    font-weight: 500;
}

/* HEADER STYLING */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#logo-container{
    width: 3%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    
}

.header p, .header i{
    padding: 10px 10px;
}

.header p:hover, .header .clickable:hover{
    background-color: black;
    border: none;
    color: white;
    border-radius: 20px;
}

#search-container{
    width: 60%;
    height: 40px;
}

#search-container i{
    position: absolute;
}

#search-input{
    border: none;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    outline: 0;

}

#search-input::placeholder{
    padding-left: 40px;
}

#second-half{
    display: flex;
}

#second-half .second{
    color: gray;
}

#second-half .second:hover{
    background-color: lightgray;
    color: gray
}

#arrow-down{
    padding: 0px;
}

/* FEED STYLING */